<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <!-- pybo CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Hello, pybo!</title>
    <!-- CSS only -->
    
</head>
<body>
<!-- 네비게이션바 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">LOGO</a>
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ui class="navbar-nav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">장바구니</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">결제</a>
                </li>
            </ui>
            </ul>
        </div>
    </div>
</nav>

<div class="thumbnails">

    <div class="box">
        <a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="images\food-2202382_640.jpg" alt="" /></a>
        <div class="inner">
            <h3>Nascetur nunc varius commodo</h3>
            <p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
            <a href="https://youtu.be/s6zR2T9vn2c" class="button fit" data-poptrox="youtube,800x400">구매하기</a>
        </div>
    </div>

    <div class="box">
        <a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="images\food-2202382_640.jpg" alt="" /></a>
        <div class="inner">
            <h3>Nascetur nunc varius commodo</h3>
            <p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
            <a href="https://youtu.be/s6zR2T9vn2c" class="button style2 fit" data-poptrox="youtube,800x400">구매하기</a>
        </div>
    </div>

    <div class="box">
        <a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="images\food-2202382_640.jpg" alt="" /></a>
        <div class="inner">
            <h3>Nascetur nunc varius commodo</h3>
            <p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
            <a href="https://youtu.be/s6zR2T9vn2c" class="button style3 fit" data-poptrox="youtube,800x400">구매하기</a>
        </div>
    </div>

    <div class="box">
        <a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="images\food-2202346_640.jpg" alt="" /></a>
        <div class="inner">
            <h3>Nascetur nunc varius commodo</h3>
            <p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
            <a href="https://youtu.be/s6zR2T9vn2c" class="button style2 fit" data-poptrox="youtube,800x400">구매하기</a>
        </div>
    </div>

    <div class="box">
        <a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="images\food-2202347_640.jpg" alt="" /></a>
        <div class="inner">
            <h3>Nascetur nunc varius commodo</h3>
            <p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
            <a href="https://youtu.be/s6zR2T9vn2c" class="button style3 fit" data-poptrox="youtube,800x400">구매하기</a>
        </div>
    </div>

    <div class="box">
        <a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="images\food-2202382_640.jpg" alt="" /></a>
        <div class="inner">
            <h3>Nascetur nunc varius commodo</h3>
            <p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
            <a href="https://youtu.be/s6zR2T9vn2c" class="button fit" data-poptrox="youtube,800x400">구매하기</a>
        </div>
    </div>

</div>

</div>
</div>
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
{% block content %}
{% endblock %}

<!-- 기본 템플릿 안에 삽입될 내용 End -->
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>
