<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="thumbnails">

        <div class="box">
            <a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="images\food-2202382_640.jpg" alt="" /></a>
            <div class="inner">
                <h3>Nascetur nunc varius commodo</h3>
                <p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
                <a href="https://youtu.be/s6zR2T9vn2c" class="button fit" data-poptrox="youtube,800x400">구매하기</a>
            </div>
        </div>
    
        <div class="box">
            <a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="images\food-2202382_640.jpg" alt="" /></a>
            <div class="inner">
                <h3>Nascetur nunc varius commodo</h3>
                <p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
                <a href="https://youtu.be/s6zR2T9vn2c" class="button style2 fit" data-poptrox="youtube,800x400">구매하기</a>
            </div>
        </div>
    
        <div class="box">
            <a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="images\food-2202382_640.jpg" alt="" /></a>
            <div class="inner">
                <h3>Nascetur nunc varius commodo</h3>
                <p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
                <a href="https://youtu.be/s6zR2T9vn2c" class="button style3 fit" data-poptrox="youtube,800x400">구매하기</a>
            </div>
        </div>
    
        <div class="box">
            <a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="images\food-2202346_640.jpg" alt="" /></a>
            <div class="inner">
                <h3>Nascetur nunc varius commodo</h3>
                <p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
                <a href="https://youtu.be/s6zR2T9vn2c" class="button style2 fit" data-poptrox="youtube,800x400">구매하기</a>
            </div>
        </div>
    
        <div class="box">
            <a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="images\food-2202347_640.jpg" alt="" /></a>
            <div class="inner">
                <h3>Nascetur nunc varius commodo</h3>
                <p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
                <a href="https://youtu.be/s6zR2T9vn2c" class="button style3 fit" data-poptrox="youtube,800x400">구매하기</a>
            </div>
        </div>
    
        <div class="box">
            <a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="images\food-2202382_640.jpg" alt="" /></a>
            <div class="inner">
                <h3>Nascetur nunc varius commodo</h3>
                <p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
                <a href="https://youtu.be/s6zR2T9vn2c" class="button fit" data-poptrox="youtube,800x400">구매하기</a>
            </div>
        </div>
</body>
</html>